@import url(https://fonts.googleapis.com/css?family=Roboto:500);

.App {
  text-align: center;
  padding: 2% 5%;
}

.App * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
  margin-bottom: 20px;
}

.city {
  width: 250px;
}

#city-search {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

.suggestions {
  width: 250px;
  position: absolute;
  top: 45px;
  z-index: 2;
  align-self: center;
  margin: 0;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: #bcdcdb;
}


.header-title{ 
	 text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #FF3D00 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  font-size: 50px;

}

.event {
	display: flex;
	align-items: center;
	justify-items: center;
	flex-direction: column;
	padding: 20px 20px 45px; /* Adjusted padding */
	margin-bottom: 5px; /* Adjusted margin */
  border: 1px solid #ccc;
  border-radius: 10px;
  position: relative;

}

.details-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 5px 8px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.btnSubmit {
	display: inline-block;
	padding: 9px 10px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border: 1px solid #4caf50; 
	color: #4caf50;
	background-color: #ffffff; 
	border-radius: 5px;
	transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
.btnError{display: inline-block;
	padding: 9px 10px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border: 1px solid #d4da3a; 
	color: #ffffff;
	background-color: #000000; 
	border-radius: 5px;
	transition: background-color 0.3s, color 0.3s, border-color 0.3s;}

.btnSubmit:hover {
	background-color: #4caf50; 
	color: #ffffff;
	border-color: #ffffff; 
}

.error-message {
	color: #ba3939;
  background: #ffe0e0;
  border: 1px solid #a33a3a;

}

.alerts-container {
  position: fixed;
  top: 0px;
  left: 20px;
  width: 250px;
  z-index: 1000;
}

.charts-container {
  display:grid;
	grid-template-columns: 1fr 1fr
}

@media (max-width: 768px){
	.charts-container{
			grid-template-columns: 1fr
	}
}


/* CSS Loader*/

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust this based on your layout */
}

.loader {
  position: relative;
  width: 350px;
  height: 350px;
}

.loader:before , .loader:after{
  content: '';
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3) inset;
}
.loader:after {
  box-shadow: 0 3px 0 #FF3D00 inset;
  animation: rotate 2s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
@keyframes rotate {
  0% {  transform: rotate(0)}
  100% { transform: rotate(360deg)}
}